.wrapper {
  .card {
    .header {
      margin-bottom: 24px;

      .userDetails {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .userMeta {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 14px;
          color: #868696;
        }
      }
    }

    .body {
      margin-bottom: 16px;

      .readMore {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #868696;
      }

      .ant-typography-expand {
        cursor: pointer;
        color: #868696;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        user-select: none;
        margin-top: 8px;
        display: inline-block;
      }
    }

    .photos {
      display: flex;
      gap: 8px;

      .ant-image-img {
        border-radius: 12px !important;
        background: #f7f7f7;
        padding: 10px 8px;
        object-fit: contain;
      }
    }
  }
}
