.productBlock {
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;

  .sectionTitle {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #344153;
  }

  .productNumber {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #868696;
  }
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.productCard {
  overflow: hidden;
  transition: all 0.2s ease;
  margin: 20px 0;
  border-radius: 0;
  padding: 0;
  position: relative;

  @media (min-width: 1000px) {
    &:hover {
      border-radius: 12px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      padding: 8px;
      margin: 12px -8px;
      
      .imageContainer {
        border-radius: 12px 12px 0 0;
      }
      
      .productInfo {
        padding-left: 0;
        padding-right: 0;
      }
      
      .addToCartButton {
        margin-left: -8px;
        margin-right: -8px;
        width: calc(100% + 16px);
      }
    }
  }
}

.imageContainer {
  position: relative;
 // background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0;
  transition: border-radius 0.2s ease;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.favoriteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}

.favoriteIcon {
  width: 26px;
  height: 24px;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

.favoriteActive {
  filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.saleBadge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
  padding: 0 8px;
  width: 99px;
  height: 24px;
  background: #31b301;
  display: flex;
  align-items: center;
}

.discountBadge {
  position: absolute;
  bottom: 40px;
  left: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
  padding: 0 8px;
  width: 48px;
  height: 24px;
  background: #c72944;
  display: flex;
  align-items: center;
}

.installmentBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background: #ff850f;
  padding: 4px 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
  height: 24px;
}

.productInfo {
  padding: 17px 0;
  transition: padding 0.2s ease;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.currentPrice {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #344153;

  &.discountedPrice {
    color: #c72944;
  }
}

.oldPrice {
  text-decoration: line-through;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #868696;
}

.installment {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 143%;
  gap: 4px;
  margin-bottom: 4px;

  .installmentValue {
    font-family: var(--font-family);
    font-weight: 600;
    text-align: center;
    color: #f70;
    border-radius: 8px;
    padding: 2px 6px;
    width: 68px;
    height: 24px;
    background: #fff2e6;
  }

  .quantity {
    font-family: var(--font-family);
    font-weight: 500;
    text-align: center;
    color: #868696;
  }
}

.productTitle {
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #344153;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;

  .rating {
    display: flex;
    align-items: center;
    gap: 4px;

    .ratingText {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      color: #344153;
    }
  }
}

.reviews {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #868696;
}

.addToCartButton {
  width: 100%;
  background: #1963aa;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 0 0 12px 12px;
  padding: 10px 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  position: relative;
  left: 0;

  &:hover {
    background: #3e8e41;
  }
}

@media (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }

  .sectionTitle {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  .productCard {
    &:hover {
      padding: 0;
      margin: 20px 0;
      box-shadow: none;
      border-radius: 0;
      
      .imageContainer {
        border-radius: 0;
      }
      
      .addToCartButton {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-radius: 0;
      }
    }
  }
}