
html {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}


input,
button,
textarea {
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
    text-decoration-line: none !important;
    transition: all 0.3s;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    /*overflow: hidden;*/
    margin: 0;
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
}

main {
    flex: 1 1 auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    /*height: 100vh;*/
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 36px;
    box-sizing: border-box;
    /*overflow: hidden;*/

    @media (max-width: 768px) {
        padding: 0 16px;
    }
}

.ant-rate-star {
    color: #ffa44c !important;
}


.ant-form-item-required::before {
    position: absolute;
    right: 0;
    content: ' *';
    color: red;
}

.ant-form-item{
    margin-bottom: 0;
}
